.footerContainer {
  background-color: rgba(37, 37, 37, 1);
  padding-top: 20px;
  padding-bottom: 34px;
  border-top: 1px solid #c0a77f;
  text-align: left;
  letter-spacing: 0.027em;
}

.copy {
  margin: 0 0 12px;
  font-family: "Inter", sans-serif;
  line-height: 1.125;
}

.title {
  margin: 0 0 12px;
  max-width: 353px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #c0a77f;
}

.text {
  margin: 0 0 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
}

.contactList {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 12px;
}

.contactItem {
  display: flex;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1;

  transition: color 250ms ease;
}

.link:hover,
.link:focus {
  color: #c0a77f;
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  /* flex-shrink: 0; */
}

/* tablet */
@media screen and (min-width: 768px) {
  .footerContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .copy {
    margin-bottom: 14px;
    font-size: 18px;
    letter-spacing: 0.05em;
  }

  .title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    text-align: right;
    max-width: 394px;
    margin: 0 auto 12px;
  }

  .text {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 1.65;
  }

  .contactList {
    /* flex-direction: row;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap; */
    align-items: center;
  }

  .link {
    font-size: 20px;
    line-height: 1.65;
    gap: 4px;
  }

  .icon {
    width: 22px;
    height: 22px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .footerContainer {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .copy {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 1.5;
  }

  .title {
    margin-bottom: 12px;
    max-width: 424px;
    font-size: 24px;
    line-height: 1.375;
  }

  .text {
    margin-bottom: 29px;
    font-size: 22px;
    line-height: 1.5;
  }

  .contactList {
    flex-direction: row;
    justify-content: center;
    gap: 44px;
    flex-wrap: wrap;
  }

  .link {
    font-size: 22px;
    gap: 4px;

    line-height: 1.5;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
